@import "./variables.scss";

body,
button,
textarea {
    font: 1rem "Rubik";
    color: $grayishBlue;
    background-color: $veryLightGray;
}

h1 {
    font: 1.25rem "Rubik";
    font-weight: 700;
    color: $darkBlue;
}